<h1>List of all users</h1>

<table border="1">
  <thead>
    <tr>
      <th>Name</th>
      <th>Lastname</th>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.lastname %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show images'%></td>
        <td><%= link_to 'Show favourites'%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>You can create new user by <a href="/users/new">this link</a></h3>

