<center><h1>Creation of new user</h1></center>

<%#= form_with scope: :user, url: users_path, local: true do |form| %>
<!--  <p>-->
<!--    <%#= form.label :name %><br>-->
    <%#= form.text_field :name %>
<!--  </p>-->

<!--  <p>-->
<!--    <%#= form.label :lastname %><br>-->
    <%#= form.text_area :lastname %>
<!--  </p>-->

<!--  <p>-->
<!--    <%#= form.label :email %><br>-->
    <%#= form.text_area :email %>
<!--  </p>-->

<!--  <p>-->
    <%#= form.submit %>
<!--  </p>-->
<%# end %>

<%= bootstrap_form_for(@user, layout: :horizontal, label_col: "col-sm-1", control_col: "col-sm-4") do |f| %>
  <center><%= f.text_field :name %></center>
  <center><%= f.text_field :lastname %></center>
  <center><%= f.email_field :email %></center>
  <%= f.form_group do %>
    <%= f.submit %>
  <% end %>
<% end %>