<nav aria-label="breadcrumb" class="fixed-bottom bg-dark">
  <ol class="breadcrumb bg-dark">
    <li class="breadcrumb-item"><a href=<%= users_path%>>Main page</a></li>
    <li class="breadcrumb-item active" aria-current="page">Images for <%= @user.first_name%> <%= @user.last_name%></li>
  </ol>
</nav>

<div class="pos-f-t bg-dark">
<!--  <div class="bg-dark p-4">-->
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="pageCenter">
        <table>
          <tbody>
          <tr>
            <td>
              <h5 class="text-white h4">Personal information</h5>
              <h6 class="text-muted">Name: <%= @user.first_name%></h6>
              <h6 class="text-muted">Lastname: <%= @user.last_name%></h6>
              <h6 class="text-muted">Email: <%= @user.email%></h6>
              <%= link_to 'View favourites', user_favs_path(@user.id), class: "btn btn-success" %>
              <%= link_to 'Update profile', edit_user_path(id: @user.id), class: "btn btn-success" %>
              <%= link_to 'Delete profile',  user_path(id: @user.id), method: :delete, class: "btn btn-danger",data: {confirm: 'Are you sure?'} %>
            </td>
            <td>
              <img src=<%= @url%> width="200" height="200" alt="random_image">
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
<!--  </div>-->
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>

<div class="row">
  <% @all_urls.each do |x| %>
    <div class="col-sm-3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src=<%= x.image_url %> alt="Card-image-cap">
        <div class="card-body">
          <table>
            <tbody>
              <tr>
                <td>
                  <h5 class="card-title">User ID: <%= x.user_id %></h5>
                  <p class="card-text">Image ID: <%= x.id %></p>
                </td>
                <td>
                  <div class="btn-group-vertical" role="group" aria-label="Basic example">
                    <%= link_to 'Go to main', users_path, method: :get, class: "btn btn-primary" %>
                    <%= link_to 'Add to favourites', user_image_path(user_id: x.user_id, id: x.id), method: :put, class: "btn btn-success" %>
                    <%= link_to 'Destroy',  user_image_path(user_id: x.user_id, id: x.id), method: :delete, class: "btn btn-danger",data: {confirm: 'Are you sure?'} %>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>
</div>